<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>L's blog</title>
</head>
<body>
    <div>
        <h1><a href="/">L's Blog</a></h1>
    </div>

    {% for post in posts %}
    <div>
        <p>published: {{ post.published_date }}</p>
        <h2><a href="">{{ post.title }}</a></h2>
        <p>{{ post.text|linebreaksbr }}</p>
    </div>
    {% endfor %}

    <div>
        <h2><a href="">My first post</a></h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut debitis ullam ipsa quia, recusandae, dolor suscipit dolorum error, architecto necessitatibus consequatur nulla quisquam! Culpa repudiandae quisquam tenetur incidunt veritatis? Repellendus.</p>
        <p>publicado: 19.05.2025, 14:47</p>
    </div>

    <div>
        <h2><a href="">My second post</a></h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit vitae nobis dolores sequi fugiat accusantium non, vero tenetur eius necessitatibus, blanditiis dignissimos. Quidem tempore provident delectus fuga architecto beatae laborum?</p>
        <p>publicado: 20.05.2025, 19:30</p>
    </div>
</body>
</html>